<a href="https://colab.research.google.com/github/trenjoh/Data-Alysis-with-Python/blob/main/Pandas(csv_data_cleaning).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/weather_data.csv',header=0)

# **DATA CLEANING**

---



---



1.   Removing unwanted columns
2.   Adding other neeeded columns(concatenating..)
3. Adding missing elements
4. Modifying columns' title to make them more readable

In [ ]:
#removing column for Results,Unnamed,0
# df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['Results'], axis=1)
print(df)

    Unnamed: 0   Min   Max
0            0  14.0  22.0
1            1  22.0  29.0
2            2  20.0  26.0
3            3  14.0  20.0
4            4  16.0  23.0
5            5  15.0  21.0
6            6  16.0  25.0
7            7  17.0  25.0
8            8  23.0  33.0
9            9  25.0  30.0
10          10  27.0  33.0
11          11  16.0  28.0
12          12  24.0  28.0
13          13  25.0  34.0
14          14  20.0  25.0
15          15  20.0  30.0
16          16  25.0  32.0
17          17  16.0  21.0
18          18  14.0  22.0
19          19  13.0  21.0
20          20  14.0  23.0
21          21  17.0  23.0
22          22  17.0  25.0
23          23  14.0  23.0

In [ ]:
# Adding  a conditional columnsto the existing csv file

def categorize_temperature(max_temp):
  if max_temp < 22:
    return 'cold'
  elif max_temp >= 22 and max_temp < 29:
    return 'warm'
  elif max_temp >= 29 and max_temp < 35:
    return 'very warm'
  elif max_temp >= 35:
    return 'EXTREME'
  else:
    return 'Null'

df['Temperature Category'] = df['Max'].apply(categorize_temperature)
print(df)

    Unnamed: 0   Min   Max Temperature Category
0            0  14.0  22.0                 warm
1            1  22.0  29.0            very warm
2            2  20.0  26.0                 warm
3            3  14.0  20.0                 cold
4            4  16.0  23.0                 warm
5            5  15.0  21.0                 cold
6            6  16.0  25.0                 warm
7            7  17.0  25.0                 warm
8            8  23.0  33.0            very warm
9            9  25.0  30.0            very warm
10          10  27.0  33.0            very warm
11          11  16.0  28.0                 warm
12          12  24.0  28.0                 warm
13          13  25.0  34.0            very warm
14          14  20.0  25.0                 warm
15          15  20.0  30.0            very warm
16          16  25.0  32.0            very warm
17          17  16.0  21.0                 cold
18          18  14.0  22.0                 warm
19          19  13.0  21.0                 cold
20          20  14.0  23.0                 warm
21          21  17.0  23.0                 warm
22          22  17.0  25.0                 warm
23          23  14.0  23.0                 warm

In [ ]:
towns = np.array(['Nairobi', 'Mombasa', 'Kisumu', 'Nakuru', 'Eldoret', 'Thika', 'Nyeri', 'Machakos', 'Meru', 'Embu', 'Kericho', 'Naivasha', 'Kitale', 'Malindi', 'Garissa', 'Kakamega', 'Nanyuki', 'Isiolo', 'Lamu', 'Kilifi', 'Voi', 'Narok', 'Bungoma','mukima'])

In [ ]:
# Creating a DataFrame with the towns
towns_df = pd.DataFrame({'Town': towns})
# Concatenate the DataFrames with 'Town' as the first column
df_upt = pd.concat([towns_df, df], axis=1)
print(df_upt)

        Town  Unnamed: 0   Min   Max Temperature Category
0    Nairobi           0  14.0  22.0                 warm
1    Mombasa           1  22.0  29.0            very warm
2     Kisumu           2  20.0  26.0                 warm
3     Nakuru           3  14.0  20.0                 cold
4    Eldoret           4  16.0  23.0                 warm
5      Thika           5  15.0  21.0                 cold
6      Nyeri           6  16.0  25.0                 warm
7   Machakos           7  17.0  25.0                 warm
8       Meru           8  23.0  33.0            very warm
9       Embu           9  25.0  30.0            very warm
10   Kericho          10  27.0  33.0            very warm
11  Naivasha          11  16.0  28.0                 warm
12    Kitale          12  24.0  28.0                 warm
13   Malindi          13  25.0  34.0            very warm
14   Garissa          14  20.0  25.0                 warm
15  Kakamega          15  20.0  30.0            very warm
16   Nanyuki          16  25.0  32.0            very warm
17    Isiolo          17  16.0  21.0                 cold
18      Lamu          18  14.0  22.0                 warm
19    Kilifi          19  13.0  21.0                 cold
20       Voi          20  14.0  23.0                 warm
21     Narok          21  17.0  23.0                 warm
22   Bungoma          22  17.0  25.0                 warm
23    mukima          23  14.0  23.0                 warm

In [ ]:
# modifying the titles of colums
df_upt = df_upt.rename(columns={'Max': 'Max_temp', 'Min': 'Min_temp(°C)'})
print(df_upt)

        Town  Unnamed: 0  Min_temp(°C)  Max_temp Temperature Category
0    Nairobi           0          14.0      22.0                 warm
1    Mombasa           1          22.0      29.0            very warm
2     Kisumu           2          20.0      26.0                 warm
3     Nakuru           3          14.0      20.0                 cold
4    Eldoret           4          16.0      23.0                 warm
5      Thika           5          15.0      21.0                 cold
6      Nyeri           6          16.0      25.0                 warm
7   Machakos           7          17.0      25.0                 warm
8       Meru           8          23.0      33.0            very warm
9       Embu           9          25.0      30.0            very warm
10   Kericho          10          27.0      33.0            very warm
11  Naivasha          11          16.0      28.0                 warm
12    Kitale          12          24.0      28.0                 warm
13   Malindi          13          25.0      34.0            very warm
14   Garissa          14          20.0      25.0                 warm
15  Kakamega          15          20.0      30.0            very warm
16   Nanyuki          16          25.0      32.0            very warm
17    Isiolo          17          16.0      21.0                 cold
18      Lamu          18          14.0      22.0                 warm
19    Kilifi          19          13.0      21.0                 cold
20       Voi          20          14.0      23.0                 warm
21     Narok          21          17.0      23.0                 warm
22   Bungoma          22          17.0      25.0                 warm
23    mukima          23          14.0      23.0                 warm

In [ ]:

df_upt = df_upt.rename(columns={'Min_temp(°C)': 'Min_temp(°C)', 'Max_temp': 'Max_temp(°C)'})

In [ ]:

import pandas as pd
# Save the updated DataFrame to a new CSV file
df_upt.to_csv('/content/drive/My Drive/Colab Notebooks/weather_data_updated.csv', index=False)

# Check if the changes were successfully committed by reading the new CSV file
df_updated = pd.read_csv('/content/drive/My Drive/Colab Notebooks/weather_data_updated.csv')

# Compare the original DataFrame with the updated DataFrame
if df_updated.equals(df_upt):
  print("Changes have been successfully committed.")
else:
  print("Error committing changes.")

# print(df_updated)

Changes have been successfully committed.

In [ ]:


import pandas as pd
if 'Unnamed: 0' in df_upt.columns:
  df_upt = df_upt.drop(['Unnamed: 0'], axis=1)

Save the updated DataFrame to a new CSV file
df_upt.to_csv('/content/drive/My Drive/Colab Notebooks/weather_data_updated.csv', index=False)

# Checking if the changes were successfully committed by reading the new CSV file
df_updated = pd.read_csv('/content/drive/My Drive/Colab Notebooks/weather_data_updated.csv')

# Comparing if  the original DataFrame with the updated DataFrame
if df_updated.equals(df_upt):
  print("Changes have been successfully committed.")
else:
  print("Error committing changes.")

print(df_updated)

Changes have been successfully committed.
        Town  Min_temp(°C)  Max_temp(°C) Temperature Category
0    Nairobi          14.0          22.0                 warm
1    Mombasa          22.0          29.0            very warm
2     Kisumu          20.0          26.0                 warm
3     Nakuru          14.0          20.0                 cold
4    Eldoret          16.0          23.0                 warm
5      Thika          15.0          21.0                 cold
6      Nyeri          16.0          25.0                 warm
7   Machakos          17.0          25.0                 warm
8       Meru          23.0          33.0            very warm
9       Embu          25.0          30.0            very warm
10   Kericho          27.0          33.0            very warm
11  Naivasha          16.0          28.0                 warm
12    Kitale          24.0          28.0                 warm
13   Malindi          25.0          34.0            very warm
14   Garissa          20.0          25.0                 warm
15  Kakamega          20.0          30.0            very warm
16   Nanyuki          25.0          32.0            very warm
17    Isiolo          16.0          21.0                 cold
18      Lamu          14.0          22.0                 warm
19    Kilifi          13.0          21.0                 cold
20       Voi          14.0          23.0                 warm
21     Narok          17.0          23.0                 warm
22   Bungoma          17.0          25.0                 warm
23    mukima          14.0          23.0                 warm